.app {
  display: flex;
}

.main_wrap {
  margin: 10px;
}

.input_wrap {
  margin-bottom: 10px;
  display: flex;
}

.input {
  margin-right: 10px;
  width: 135px;
  height: 26px;
  font-size: 12px;
  cursor:pointer;
}

.btn {
  background-color: #0075d8;
  border:none;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 600;
  width: 60px;
  color: white;
  outline: none;
  cursor:pointer;
}

.btn:active {
  transform: translateY(3px);
}

.cell {
  height: 40px;
  width: 40px;
  background-color: white;
  border:2px solid black;
  border-radius: 2px;
  cursor: pointer;
}

.field {
  display: grid;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 30px;
}

.list_title {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 7px;
}

.list_wrap {
  display: flex;
  flex-direction: column;
}

.list_wrap span {
  display: block;
  background-color: #fbf8e3;
  margin: 3px;
  color:#896d3a;
  border: 1px solid #fbefd5;
  border-radius: 5px;
  width: 140px;
  height: 35px;
  padding-left: 4px;
  line-height: 35px;
  font-size: 12px;
  font-weight: 600;
}
